*{
    box-sizing: border-box;
    font-family: "poppins";
}

body{
    background-color: #F6F4F0;
  
}

.img-container{
    display: flex;
    width: 862;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 400px;
}

a{
    text-decoration-line: none;
    color: white;
}
.outer{
    height: 127px;
    width: 465px;
    background-color: #01AB08;
}
.inner-button{
    color: white;
    border: none;
    text-align: center;
    border-radius: 9px;
    font-weight: 600;
    font-size: 53px;
    height: 114px;
    width: 450px;       
    background-color: #35BD3A;
}

.para{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 330px;
}

footer{
font-size: 10px;
text-align: center;
font-weight: 500;
margin-top: 80px;
bottom: 0;
}

@media (max-width:750px){
    .img-container{
        margin-top: 200px;
    }
.img-container img{
    width:400px
}
.outer{
    height: 35px;
    width: 140px;}

.inner-button{
    height: 30px;
    width: 135px;  
    font-size: 15px;  
}
.para{
    font-size: 14px; 
    margin-top: 200px;
}
.fotter{
    font-size: 7px;
    
}
}