*{
    box-sizing: border-box;
}

body{
   --background-color : white;
   --text-color : black;
   --element-color : white;
   margin: 0;
   padding: 0;
   font-family: "Nunito","sans-serif";  
   background-color: var(--background-color);
   color: var(--text-color);  
}
body.dark {
    --background-color : hsl(207, 26%, 17%);
    --text-color : white;
    --element-color : hsl(209, 23%, 22%);
}

.title{
    font-weight: 800;
}

.header-container{
box-shadow: 0 0px 4px 4px rgba(0,0, 0,0.1);
padding-inline: 20px;  
background-color: var(--element-color); 
}

.header-content{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1300px ;
    margin-inline: auto;      
}

main{
    padding: 16px;
}

.search-container{
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;   
   
}

.search-content{
    border-radius: 4px;
    padding: 12px;
    padding-left: 24px;
    max-width: 400px;
    width: 100%;    
    box-shadow: 0 0px 8px 0px rgba(0,0, 0,0.1);
    color: rgb(212, 208, 208);   
}

.search-content input{
    border: none;
    outline: none;
    width: 90%;
    background-color: inherit;
    color: inherit;
}

.search-content input::placeholder{
  color: rgb(212, 208, 208);
}

.change-theme{
    cursor: pointer;
}

.filter-by-region{
    width:150px;
    padding: 0 15px ;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 0px 8px 0px rgba(0,0, 0,0.1);
}

.country-container{
    max-width: 1300px;
    margin-inline:auto;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap:30px;  
}

a{
    text-decoration-line: none;
    color: inherit;
}

.country-content{
    margin-top: 40px;
    display: inline-block;    
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 35px;
   box-shadow: 0 0px 8px 0px rgba(0,0, 0,0.2);
   transition: all 0.2s ease-in-out;
   background-color: var(--element-color);
   
}

.country-content:hover{
    transform: scale(1.05);
    box-shadow:  0 0 16px 0 rgba(0, 0, 0,0.2);
}

.country-content img{
    width: 100%;   
}

.country-data{
    margin-inline: 15px;
}

.country-data h4{
    font-weight: 800;
    font-size: 20px;  
    margin-block: 18px; 
}

.country-data p{
    margin-block: 5px;
}

@media(max-width:650px){
    .country-container{
        justify-content: center;
    }
    .title{
        font-size: 16px;
    }

    span{
      font-size: 15px;
    }

    .search-container{
        flex-direction: column;
     
    }
    .filter-by-region{
        margin-top: 35px;
        padding: 12px;
    }

}

